.bbtn {
  display: none;

  position: fixed;
  transition: 1s;
  background-color: black;
}
.btn {
  background-color: #b44100;
  width: 110%;
  position: fixed;
  margin: 0;
height: 100%;
  
  justify-content: center;
  animation: ernis 0.5s;
}

.menu_summary{
  display: block;
  padding-top: 5px;
  width: 100px;
  background-color: #b44200;
text-align: left;
  p{
    transition: 0.5s;
    font-size: 20px;
  &:hover{
    background-color: #ffffff;
  
    padding: 10px;
    transform: rotate(1.1);
    color: black;
    border-radius: 5px;
  }
  }
}
.menu {
  justify-content: space-between;
  display: flex;
}
.menusss{
position: fixed;
background-color: #b44100;
margin-top: -10px;
margin-left: -20px;
z-index: 1000;
width: 103%;


}

.button {
  border: none;
  background-color: rgba(0, 0, 139, 0);
  color: white;
}
.menus {
  justify-content: space-between;
  display: block;
  justify-content: center;
  
  overflow-y: scroll;
 height: 70%;
  .menu3 {
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    a {
      margin-top: 50px;
    }
  }
}
.language {
  display: flex;
  gap: 10px;
  button {
    background-color: #b4420000;
    color: rgba(255, 255, 255, 0.418);
    border: none;
    &:active {
      color: white;
    }
  }
}
.menu1_block {
  display: flex;
}
.block_menu_info {
  margin-top: 10px;
}
.block_menu1 {
  margin-left: 15px;
  margin-top: 30px;
}
@media screen and (max-width: 564px) {
  .language {
    display: none;
  }
}
@media screen and (max-width: 470px) {
  .menu1_block {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .language{
    font-size: 10px;
  }
}

.Instagram {
  margin-top: 30px;
  a {
    font-size: 20px;
    margin-left: 10px;
  }
}
.IconButton {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
.menu {
  justify-content: space-around;
  max-width: 1500px;
}